<% @children.each do |child| %>
  <div id="children_container">
    <h4>child.first_name</h4>
    <p>
      <ul>
        <li><b>Birthday:</b> <%= child.birthday %></li>
        <li><b>Allergies:</b> <%= child.allergies.join(", ") %>
      </ul>
    </p>
  </div>
<% end %>
