<div class='container'>
  <form action='/user' method='post'>
    <input type='text' name='first_name'>
    <input type='text' name='last_name'>
    <input type='text' name='username'>
    <input type='email' name='email'>
    <input type='password' name='password'>
    <input type='password' name='password'>
    <input type='password' name='password'>

  </form>

</div>
