<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<header>
  <nav class='navbar'>
    <a class='left-button' href="/host/new">Host Playdate</a>
    <% if current_user %>
    <a class='button' href='/users/<%= current_user.id %>'>Profile</a>
    <form class = 'button' action='/logout' method='post'>
      <input name="_method" type="hidden" value="delete" />
      <input type='submit' value='Logout'>
    </form>
    <% else %>
    <a class='button' href="/login">Login</a>
    <a class='button' href="/register">Register</a>
    <% end %>
    <a class='left-button' href="/playdates">All Playdates</a>
  </nav>
</header>
  <main class="container">
    <%= yield %>
  </main>
</body>
</html>
